[data-serp-counter] {
    position: relative !important;
}

[data-serp-counter]::before {
    content: "#" attr(data-serp-counter);
    position: absolute;
    font-weight: bold;
    font-family: sans-serif;
    color: #5f6368;
    font-size: 20px;
    transform: translateX(calc(-100% - 20px));
}